.cartas{
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: scroll;
}

.carta{
        width: 21%;
        padding-top: 28%;
        float: left;
        margin: 1% 2%;
        border-radius: 5%;
        box-sizing: border-box;
        box-shadow: 10px 10px 5px #888888;
        position: relative;
        transition: visible 1s;
        background-color: aquamarine;
}    

@media screen and (min-width: 460px) {    
    .carta{
        width: 16%;
        padding-top: 22%;
    }
    .cartas{
        padding: 20px 20px 0 20px;
    }
}


.nojogo{
    background: linear-gradient(45deg, rgb(65, 160, 218) 20%, #a2d49f 30%, #a2d49f 40%, #c7c12f 50%, #c7c12f 60%, #f26247 70%, #f26247 80%, #ec2045 90%, #ec2045 90%);
}

.carta:hover{
    box-shadow: 0 0 40px aliceblue;
    cursor: pointer;
}

.cartas-hora-de-aventura .carta{
    background-image: url(../img/carta-hora-de-aventura.png);
    background-image: url(../img/carta-hora-de-aventura.png), linear-gradient(45deg, rgb(65, 160, 218) 20%, #a2d49f 30%, #a2d49f 40%, #c7c12f 50%, #c7c12f 60%, #f26247 70%, #f26247 80%, #ec2045 90%, #ec2045 90%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cartas-steven-universo .carta{
    background-image: url(../img/carta-steven-universo.png);
    background-image: url(../img/carta-steven-universo.png), linear-gradient(45deg, rgb(65, 160, 218) 20%, #a2d49f 30%, #a2d49f 40%, #c7c12f 50%, #c7c12f 60%, #f26247 70%, #f26247 80%, #ec2045 90%, #ec2045 90%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cartas-gumball .carta{
    background: url(../img/carta-gumball.png), aquamarine;
    background-image: url(../img/carta-gumball.png), linear-gradient(45deg, rgb(65, 160, 218) 20%, #a2d49f 30%, #a2d49f 40%, #c7c12f 50%, #c7c12f 60%, #f26247 70%, #f26247 80%, #ec2045 90%, #ec2045 90%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gira{
    transition: transform .4s;
    transform: rotateY(90deg);
    box-shadow: -10px 10px 5px #888888;
    transition-timing-function: linear;
}

.desgira{
    transition: transform .4s;
    transform: rotateY(0deg);
    box-shadow: 10px 10px 5px #888888;
    transition-timing-function: linear;
}

.foradojogo{
    opacity:0;
    transition:opacity 1s linear;
}

.foradojogo:hover{
    cursor: default;
}

.carta-single:first-child{
    margin-left: 25%;
}

.carta-single:last-child{
    float: right;
    margin-right: 25%;
}