body, .cartas{
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
    background-color: #E1C890;
}

html, footer{
    background-color: #92563E;
    color: saddlebrown;
}

html, body, main{
    height: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
}

h1, h2, p{
    text-align: center;
}

h1{
    font-size: 400%;
    padding: 15px;
    text-transform: uppercase;
}

h1,
#numcartas-input,
.jogar{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

p{
    margin-bottom: 15px;
}

#numcartas-label,
p{
    font-size: 200%;
}

#numcartas-input,
#numcartas-label,
.jogar{
    display: inline;
}

#numcartas-input,
.jogar{
    font-size: 170%;
    height: 45px;
    box-shadow: 5px 5px 2px #888888;
    height: 45px;
    text-align: center;
    background-color: darkblue;
    color: white;
}

#numcartas-input{
    width: 2em;
    padding-right: 5px;
}

.opcoes{
    text-align: center;
    margin: 10px auto;
    width: 80%;
}

.jogar{
    padding: 0;
    width: 100px;
    border: black 0 solid;
    margin-bottom: 10px;
}

#numcartas-input:hover,
.jogar:hover{
    box-shadow: 0 0 20px aliceblue;
    cursor:pointer;
}

footer{
    color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: padding-box;
    width: 100%;
    max-height: 40px;
    height: 10%;
    border-top: solid black 1px;
}

footer p{
    padding-top: 10px;
    font-size: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}